<div *ngIf="!showAll">
  <h2 class="inline-element">Featured Projects</h2>
  <p class="inline-element"><a class="link color_blue" (click)="toggleViewAllProjects()">>View All</a></p>
</div>
<div *ngIf="showAll">
  <h2 class="inline-element">All Projects</h2>
  <p class="inline-element"><a class="link color_blue" (click)="toggleViewAllProjects()">^View Less</a></p>
</div>
<div *ngIf="error_message == null">
  <li *ngFor="let project of displayed_projects" id="projects_list">
    <div>
      <h3>{{project.id}}: {{project.name}}</h3>
      <div id="project_child">
        <p>{{project.description}}</p>
        <p><a class="link color_red" routerLink="/project/{{project.id}}">>Learn More</a></p>
      </div>
    </div>
  </li>
</div>
<div *ngIf="error_message != null" class="color_red">
  <p>&lt;Error&gt; unable to fetch projects, the server is probably down :(</p>
</div>

