<h2>About</h2>
<p>I'm an embedded software developer studying Computer Science at Rochester Institute of Technology. I have experience with a wide variety of programming languages and embedded operating systems, but I'm also interested in algorithms, data science, and machine learning.</p>
<p>Outside of software, I enjoy math and physics. When I'm not studying, you can find me writing code, going to the gym, sipping some coffee, enjoying a concert, or traveling.</p>
<p>Feel free to check out my projects on this page. For more information, check out my LinkedIn or GitHub, or send me an email.</p>
