* {
  font-family: monospace;
}

html, body {
  height: 99%;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.inline-element {
  display: inline-block;
  margin-right: 10px; /* Adjust as needed for spacing */
}

.two-column-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.two-column-container .text-column {
  flex: 1;
  padding: 1vb;
}

.two-column-container .image-column {
  flex: 1;
  padding: 1vb;
}

.two-column-container img {
  max-width: 100%;
  height: auto;
}

.color_red {
  color: #cf4740
}

.color_blue {
  color: #6ccff6
}

.color_dark_blue {
  color: #00233f
}

.color_black {
  color: #0c0c0c
}

.color_white {
  color: #f6f7f8
}

.link {
  text-decoration: underline;
}
